<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login form of the wall assignment">
    <meta name="author" content="Daniel Renzal">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>The Wall | Sign In Page</title>
</head>
<body id="sign_in_body">
    <div class="form_container">
        <form id="login_form">
            <h2>The Wall</h2>
            <h1>Log In</h1>

            <label for="email" class="first_label">Email</label>
            <input type="email" class="email_input" id="email" tabindex="1">
            <p class="error_email error_message"></p>

            <div class="password_area">
                <label for="password">Password</label>
                <a href="#">Forgot Password?</a>
            </div>
            <input type="password" class="password_input" id="password" tabindex="2">
            <p class="error_password error_message"></p>

            <button type="submit" tabindex="3">Sign In</button>

            <p class="switch_form">Don't have an account? <a href="sign_up.html">Sign up</a></p>
        </form>
    </div>
    <div class="image_container">
        <img src="../assets/images/person.svg" alt="A person standing while holding a document">
    </div>
    
    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/index.js"></script>
</body>
</html>