<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign up form of the wall assignment">
    <meta name="author" content="Daniel Renzal">
    <link rel="stylesheet" href="../assets/css/index.css">
    <title>The Wall | Sign Up Page</title>
</head>
<body id="sign_in_body">
    <div class="form_container">
        <form class="sign_up_form">
            <h2>The Wall</h2>
            <h1>Register</h1>

            <label for="email"  class="first_label">Email</label>
            <input type="email" class="email_input">
            <p class="error_email error_msg"></p>

            <label for="password">Password</label>
            <input type="password" class="password_input">
            <p class="error_password error_msg"></p>

            <label for="cpassword">Confirm Password</label>
            <input type="password" class="cpassword_input">
            <p class="error_cpassword error_msg"></p>

            <p class="disclaimer">By creating an account, you agree with The Wall's <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a></p>

            <button type="submit" class="sign_up_btn">Sign Up</button>

            <p class="switch_form">Already have an account? <a href="index.html">Sign in</a></p>
        </form>
    </div>
    <div class="img_container">
        <img src="../assets/images/person.svg" alt="A person standing while holding a document">
    </div>
    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/sign_up.js"></script>
</body>
</html>