<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wall">
    <meta name="author" content="Daniel Renzal">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/wall.css">
    <title>The Wall</title>
</head>
<body>
    <nav>
        <h1>The Wall Assignment</h1>
        <div class="user">
            Welcome, Daniel Renzal!
            <a href="#">Logout</a>
        </div>
    </nav>

    <div class="msg_container">
        <header>
            <p class="num_of_msgs">
                <span class="msg_count">0</span> messages arranged by latest posted
            </p>
            <button class="create_msg">Create</button>
        </header>
        <div class="messages">
            <div class="empty_msg">
                <img src="../assets/images/empty_msg_icon.png" alt="Empty message">
                <p>No Posted Message Yet.</p>
            </div>
        </div>
    </div>

    <form class="create_msg_modal">
        <header>
            <button class="close_btn"></button>
            <h2>Create a Message</h2>
        </header>
        <textarea placeholder="Type your message here"></textarea>
        <footer>
            <button class="cancel_btn">Cancel</button>
            <input type="submit" value="Post Message">
        </footer>
    </form>
</body>
</html>