<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dashboard of the wall assignment">
    <meta name="author" content="Daniel Renzal">
    <link rel="stylesheet" href="../assets/css/wall.css">
    <title>The Wall | Dashboard</title>
</head>
<body>
    <nav>
        <div class="custom_wrapper">
            <h1>The Wall Assignment</h1>
            <p id="user">Welcome, Daniel Renzal! <a href="index.html" class="logout">Logout</a></p>
        </div>
    </nav>
    <div id="messages_area">
        <div class="custom_wrapper">
            <header>
                <p id="message_count"><strong>0</strong> messages arranged by latest posted</p>
                <button type="button" id="create_message_button">Create Message</button>
            </header>
    
            <!-- will prompt if there's no message -->
            <div id="no_message_prompt">
                <img src="../assets/images/empty_msg_icon.png" alt="Empty message icon">
                No Posted Message Yet.
            </div>
    
            <ul id="messages_container">
                <!-- to be cloned -->
                <li class="message_block original">
                    <!-- for displaying the message -->
                    <div class="display_body">
                        <p class="text"></p>
                        <footer class="actions">
                            <div class="buttons">
                                <button type="button" class="comment_button"><span></span><strong class="comment_count">0</strong>Comment</button>
                                <button type="button" class="toggle_edit_button" data-edit=".message_block"><span></span>Edit</button>
                                <button type="button" class="delete_button" data-delete=".message_block" data-modal-selector=".confirm_delete_message_modal"><span></span>Delete</button>
                            </div>
                            <div class="post_info">
                                <img src="../assets/images/user_icon.png" alt="User icon">
                                <span class="posted_by">You</span> - 
                                <span class="post_time">Few seconds ago</span>
                            </div>
                        </footer>
                    </div>
                    <!-- for displaying the edit message form -->
                    <form class="edit_form">
                        <textarea name="edit_message_input"></textarea>
                        <footer>
                            <button type="button" class="cancel_button" data-cancel="message_block">Cancel</button>
                            <button type="submit" class="edit_button" data-submit-edit=".message_block">Update Message</button>
                        </footer>
                    </form>
                    <form class="comment_form">
                        <textarea name="comment_input"></textarea>
                        <button type="submit" class="post_comment_button disabled">Post Comment</button>
                    </form>
                    <ul class="comments_container"></ul>
                </li>
            </ul>
            <!-- to be cloned -->
            <li class="comment_block">
                <div class="display_body">
                    <p class="text"></p>
                    <footer class="actions">
                        <div class="buttons">
                            <button type="button" class="toggle_edit_button" data-edit=".comment_block"><span></span>Edit</button>
                            <button type="button" class="delete_button" data-delete=".comment_block" data-modal-selector=".confirm_delete_comment_modal"><span></span>Delete</button>
                        </div>
                        <div class="post_info">
                            <img src="../assets/images/user_icon.png" alt="User icon">
                            <span class="posted_by">You</span> - 
                            <span class="post_time">Few seconds ago</span>
                        </div>
                    </footer>
                </div>
                <!-- for displaying the edit comment form -->
                <form class="edit_form">
                    <textarea name="edit_comment_input"></textarea>
                    <footer>
                        <button type="button" class="cancel_button" data-cancel="comment_block">Cancel</button>
                        <button type="submit" class="edit_button" data-submit-edit=".comment_block">Update Comment</button>
                    </footer>
                </form>
            </li>
        </div>
    </div>

    <!-- modal to create a message -->
    <div class="modal_backdrop">
        <form class="create_msg_modal">
            <button type="button" class="close_modal_btn close_modal" data-close="modal_backdrop"></button>
            <h2>Create a Message</h2>
            <textarea placeholder="Type your message here."></textarea>
            <footer class="modal_btns_container">
                <button type="button" class="cancel_btn close_modal" data-close="modal_backdrop">Cancel</button>
                <button type="submit" class="post_msg_btn disabled">Post message</button>
            </footer>
        </form>
    </div>

    <!-- modal to delete message -->
    <div class="modal_backdrop">
        <form class="confirm_delete_message_modal">
            <button type="button" class="close_modal_btn" data-close="modal_backdrop"></button>
            <h2>Confirm Delete Message</h2>
            <p>Are you sure you want to remove this message? This action cannot be undone.</p>
            <footer class="modal_btns_container">
                <button type="button" class="cancel_btn" data-close="modal_backdrop">Cancel</button>
                <button type="submit" class="remove_btn">Yes, Remove it.</button>
            </footer>
        </form>
    </div>

    <!-- modal to delete comment -->
    <div class="modal_backdrop">
        <form class="confirm_delete_comment_modal">
            <button type="button" class="close_modal_btn" data-close="modal_backdrop"></button>
            <h2>Confirm Delete Comment</h2>
            <p>Are you sure you want to remove this comment? This action cannot be undone.</p>
            <footer class="modal_btns_container">
                <button type="button" class="cancel_btn" data-close="modal_backdrop">Cancel</button>
                <button type="submit" class="remove_btn">Yes, Remove it.</button>
            </footer>
        </form>
    </div>
    
    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/wall.js"></script>
</body>
</html>