@import "global";

body{
    background-color: #fbfbfb;

    &.modal_open{
        overflow: hidden;
    }
}

nav{
    background-color: white;
    box-shadow: 0px 4px 8px 0px #0000000D;
    margin-bottom: 50px;
    padding-inline: 1.5em;

    .custom_wrapper{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1281px;
        padding: 40px 0 41px;
    } 

    h1{
        color: @dark_blue;
        font-size: 26px;
        font-weight: 500;
    }

    p.user{
        color: @dark_blue;
        font-size: 16px;

        a{
            color: @bright_blue;
            font-weight: 600;
            margin-left: 12px;
        }
    }
}

#messages_area{
    padding-inline: 1.5em;

    .custom_wrapper{
        background-color: white;
        margin-inline: auto;
        max-width: 1281px;
        min-height: 75vh;
        padding: 76px 68px;
    }

    header{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        #message_count{
            color: #707070;
            font-size: 16px;
            font-weight: 400;

            strong{
                color: @bright_blue;
                font-weight: 600;
            }
        }

        #create_message_button{
            .submit_button();
            padding: 6.5px 34px;
        }
    }

    #no_message_prompt{
        color: #707070;
        margin-top: 133px;
        text-align: center;

        &.hide{
            display: none;
        }

        img{
            display: block;
            margin: 0 auto 20px;
        }
    }

    .message_block, 
    .comment_block{
        background-color: white;
        border-radius: 6px;
        border: @textarea_border;
        color: @dark_blue;
        display: none;
        margin-bottom: 19px;
        padding: 24px 29px;

        &.clone{
            display: block;
        }

        .edit_form{
            display: none;
            margin-bottom: 30px;

            &.show{
                display: block;
            }

            textarea{
                margin-bottom: 13px;
            }

            footer{
                text-align: end
            }

            .edit_button{
                .submit_button();
                margin-left: 26px;
                padding-inline: 22px;

                &.disabled{
                    opacity: .5;
                }

            }
        }  

        .comments_container{
            display: none;

            &.show{
                display: block;
            }
        }
    }

    .comment_form{
        border-radius: 6px;
        border: @textarea_border;
        display: none;
        margin-top: 26px;
        padding: 30px;

        &.show{
            display: block
        }

        textarea{
            margin-bottom: 13px
        }

        button{

            &.disabled{
                opacity: .5;
            }

            .submit_button();
            display: block;
            margin-left: auto;
            padding-inline: 31px;
        }
    }

    .comment_block{
        margin-top: 18px;
        padding: 22px 28px;
    }

    .display_body{

        &.hide{
            display: none
        }

        .actions{
            align-items: center;
            color: #707070;
            display: flex;
            margin-top: 18px;

            .buttons{
                display: flex;
            }


            button{
                .cancel_button();
                color: #707070;
                margin-right: 27px;
                display: flex;
                align-items: center;
    
                span{
                    display: inline-block;
                    margin: 0 8px 2px 0;
                    pointer-events: none;
                }
    
                &.comment_button{

                    &.has_comment{
                        color: @bright_blue;

                        span{
                            background: url("../images/icons.png") -3px -36px;
                        }
                    }

                    strong{
                        font-size: 16px;
                        font-weight: 400;
                        margin-right: 4px;
                    }

                    span{
                        background: url("../images/icons.png") no-repeat -3px -6px;
                        height: 18px;
                        width: 18px;
                    }
                }
    
                &.toggle_edit_button{
                    color: @bright_blue;

                    span{
                        background: url("../images/icons.png") no-repeat -31px -4px;
                        height: 22px;
                        margin-bottom: 3px;
                        width: 22px;
                    }
                }
    
                &.delete_button{
                    span{
                        background: url("../images/icons.png") no-repeat -64px -5px;
                        height: 19px;
                        width: 16px;
                    }
                }
            }

            .post_info{
                align-items: center;
                display: flex;

                img{
                    margin-bottom: 2px;
                    margin-right: 7px;
                }

                .posted_by{
                    display: inline-block;
                    font-weight: 600;
                    margin-right: 4px;
                }
    
                .post_time{
                    display: inline-block;
                    margin-left: 4px;
                }
            }
        }
    }
}

.modal_backdrop{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    padding-inline: 1.5em;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;

    &.show{
        display: flex;
    }

}
 
#create_message_modal{
    .modal();
    padding: 43px 53px;
    width: 937px;

    h2{
        color: @dark_blue;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 44px;
        text-align: center;
    }

    textarea{
        height: 194px;
        margin-bottom: 23px;
        width: 100%;
    }

    footer{
        text-align: end;
        
        #post_message_button{

            &.disabled{
                opacity: .5;
            }

            .submit_button();
            border-radius: 6px;
            margin-left: 20px;
            padding: 7px 40px;
        }
    }

}

.delete_message_modal,
.confirm_delete_comment_modal{
    .modal();
    padding: 46px 74px 60px;
    width: 540px;

    h2{
        color: @dark_blue;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 33px;
        text-align: center;
    }

    p{
        color: @dark_blue;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 33px;
        text-align: center;
    }

    footer{
        align-items: center;
        display: flex;

        button{
            width: 100%;
        }

        .cancel_button{
            .cancel_button();
            color: #707070; 
            padding-right: 21px
        }
        
        .remove_button{
            .submit_button();
            border-radius: 6px;
            font-size: 18px;
            font-weight: 500;
            padding: 10px 31px;
        }
    }
}

@media screen and (max-width: 986px){
    nav{
        padding: 1.2em 1.5em;

        .custom_wrapper{
            padding: 0;
        }

        p.user{
            display: flex;
            flex-direction: column;
            align-items: end;
        }
    }

    .messages_area{
        .custom_wrapper{
            padding: 1.5em 1.8em;
        }

        header{
            .create_msg_btn{
                padding-inline: 13px;
            }
        }

        .message_block,
        .comment_block{
            padding: 1em 1.2em;
            .actions{
                display: grid;
                grid-template-areas: 
                    "post_info"
                    "buttons";
                margin-top: .7em;

                .buttons{
                    grid-area: buttons;
                }

                .post_info{
                    grid-area: post_info;
                    margin-left: -.3em;
                    margin-bottom: .3em;
                }
            }

            .edit_message_form,
            .edit_comment_form{
                margin-bottom: 0;

                .toggle_edit_button{
                    padding: 8px 13px;
                }
            }
        }

        .comment_form{
            padding: 1em 1.2em;
            button{
                padding-inline: 13px;
            }
        }

        .comment_block{
            padding: 1em;
        }

    }

    .create_message_modal{
        padding: 1.7em;
        width: 100%;

        h2{
            margin-bottom: 1em;
        }

        .modal_btns_container .post_message_button{
            padding-inline: 13px;
        }
    }

    .delete_message_modal,
    .confirm_delete_comment_modal{
        padding: 1.7em;

        h2{
            margin-bottom: .5em;
        }

        .modal_btns_container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            place-items: center;

            button{
                padding: 8px 13px;
                width: fit-content;
            }
        }
    }
}

@media screen and (max-width: 677px){
    nav{
        padding: 1.2em 1.5em;

        .custom_wrapper{
           align-items: start;
           flex-direction: column;
        }

        p.user{
            align-items: end;
            display: flex;
            flex-direction: column;

            a{
                position: absolute;
                right: 24px;
                top: 25px;
            }
        }
    }

    .messages_area{
        header{
            align-items: start;
            flex-direction: column;
            gap: 1em;
        }
    }

    .delete_message_modal,
    .confirm_delete_comment_modal{

        .modal_btns_container{
            display: grid;
            grid-template-columns: unset;
            grid-template-areas: 
                "remove_btn"
                "cancel_button";
            place-items: center;

            button{
                padding: 8px 13px;
                width: fit-content;

                &.cancel_button{
                    grid-area: cancel_button;
                }

                &.remove_btn{
                    grid-area: remove_btn;
                }
            }
        }
    }
}