@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
/* colors */
/* reset */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
textarea {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  color: #152c61;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 12px;
  resize: none;
  width: 100%;
}
button {
  cursor: pointer;
}
.close_modal_btn {
  height: 18px;
  width: 18px;
  background: url("../images/icons.png") no-repeat -93px -6px;
  border: none;
  position: absolute;
  right: 19px;
  top: 18px;
}
/* mixin */
.submit_btn {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6.5px 66px;
}
.cancel_btn {
  background-color: transparent;
  border: none;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}
.modal {
  background-color: white;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sign_in_body {
  display: flex;
  height: 100vh;
}
#sign_in_body .form_container {
  align-items: center;
  background-color: #fbfbfb;
  display: flex;
  justify-content: center;
  width: 60%;
}
#sign_in_body .form_container form {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 4px 8px 0px #0000000D;
  padding: 30px 40px 33px;
  width: 450px;
}
#sign_in_body .form_container form h2 {
  color: #2c6bff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 39px;
}
#sign_in_body .form_container form h1 {
  color: #152c61;
  font-size: 40px;
  font-weight: 600;
}
#sign_in_body .form_container form label {
  color: #152c61;
  display: inline-block;
  font-weight: 300;
  margin: 28px 0 6px 0;
}
#sign_in_body .form_container form label.first_label {
  margin-top: 18px;
}
#sign_in_body .form_container form .password_area {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
#sign_in_body .form_container form .password_area a {
  color: black;
  font-size: 14px;
  font-weight: 300;
  opacity: .5;
}
#sign_in_body .form_container form input {
  background-color: rgba(44, 107, 255, 0.08);
  border-radius: 4px;
  border: none;
  color: #152c61;
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 17px 10px;
  width: 100%;
}
#sign_in_body .form_container form input.error_input {
  background-color: rgba(225, 85, 76, 0.08);
}
#sign_in_body .form_container form p.error_msg {
  color: #e1554c;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
#sign_in_body .form_container form p.disclaimer {
  color: #152c61;
  margin: 33px 0;
  text-align: center;
}
#sign_in_body .form_container form p.disclaimer a {
  color: #2c6bff;
}
#sign_in_body .form_container form button[type="submit"] {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6.5px 66px;
  border-radius: 4px;
  display: block;
  font-weight: 600;
  margin: 39px auto 34px;
  padding: 15px 45px;
  text-transform: uppercase;
}
#sign_in_body .form_container form button[type="submit"].sign_up_btn {
  margin-top: 0;
}
#sign_in_body .form_container form p.switch_form {
  color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
#sign_in_body .form_container form p.switch_form a {
  color: #2c6bff;
}
#sign_in_body .img_container {
  background-color: #86a7f2;
  position: relative;
  width: 40%;
}
#sign_in_body .img_container img {
  left: -67px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (max-width: 1236px) {
  #sign_in_body .form_container {
    width: 100%;
  }
  #sign_in_body .img_container {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  #sign_in_body .form_container {
    background-color: white;
  }
  #sign_in_body .form_container form {
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
}
