@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
/* colors */
/* reset */
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
textarea {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  color: #152c61;
  font-size: 16px;
  font-weight: 300;
  padding: 8px 12px;
  resize: none;
  width: 100%;
}
button {
  cursor: pointer;
}
.close_modal_button {
  height: 18px;
  width: 18px;
  background: url("../images/icons.png") no-repeat -93px -6px;
  border: none;
  position: absolute;
  right: 19px;
  top: 18px;
}
/* mixins */
.submit_button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6.5px 66px;
}
.cancel_button {
  background-color: transparent;
  border: none;
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}
.modal {
  background-color: white;
  border-radius: 6px;
  position: relative;
}
body {
  background-color: #fbfbfb;
}
body.modal_open {
  overflow: hidden;
}
nav {
  background-color: white;
  box-shadow: 0px 4px 8px 0px #0000000D;
  margin-bottom: 50px;
  padding-inline: 1.5em;
}
nav .custom_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1281px;
  padding: 40px 0 41px;
}
nav h1 {
  color: #152c61;
  font-size: 26px;
  font-weight: 500;
}
nav p#user {
  color: #152c61;
  font-size: 16px;
}
nav p#user a {
  color: #2c6bff;
  font-weight: 600;
  margin-left: 12px;
}
#messages_area {
  padding-inline: 1.5em;
}
#messages_area .custom_wrapper {
  background-color: white;
  margin-inline: auto;
  max-width: 1281px;
  min-height: 75vh;
  padding: 76px 68px;
}
#messages_area header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#messages_area header #message_count {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}
#messages_area header #message_count strong {
  color: #2c6bff;
  font-weight: 600;
}
#messages_area header #create_message_button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6.5px 66px;
  padding: 6.5px 34px;
}
#messages_area #no_message_prompt {
  color: #707070;
  margin-top: 133px;
  text-align: center;
}
#messages_area #no_message_prompt.hide {
  display: none;
}
#messages_area #no_message_prompt img {
  display: block;
  margin: 0 auto 20px;
}
#messages_area .message_block,
#messages_area .comment_block {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  color: #152c61;
  display: none;
  margin-bottom: 19px;
  padding: 24px 29px;
}
#messages_area .message_block.clone,
#messages_area .comment_block.clone {
  display: block;
}
#messages_area .message_block .edit_form,
#messages_area .comment_block .edit_form {
  display: none;
  text-align: end;
}
#messages_area .message_block .edit_form.show,
#messages_area .comment_block .edit_form.show {
  display: block;
}
#messages_area .message_block .edit_form textarea,
#messages_area .comment_block .edit_form textarea {
  margin-bottom: 13px;
}
#messages_area .message_block .edit_form footer,
#messages_area .comment_block .edit_form footer {
  text-align: end;
}
#messages_area .message_block .edit_form .edit_button,
#messages_area .comment_block .edit_form .edit_button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6.5px 66px;
  margin-left: 26px;
  padding-inline: 22px;
}
#messages_area .message_block .edit_form .edit_button.disabled,
#messages_area .comment_block .edit_form .edit_button.disabled {
  opacity: .5;
}
#messages_area .message_block .comments_container,
#messages_area .comment_block .comments_container {
  display: none;
}
#messages_area .message_block .comments_container.show,
#messages_area .comment_block .comments_container.show {
  display: block;
}
#messages_area .comment_form {
  border-radius: 6px;
  border: 1px solid #dce6ff;
  display: none;
  margin-top: 26px;
  padding: 30px;
}
#messages_area .comment_form.show {
  display: block;
}
#messages_area .comment_form textarea {
  margin-bottom: 13px;
}
#messages_area .comment_form button {
  background-color: #2c6bff;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6.5px 66px;
  display: block;
  margin-left: auto;
  padding-inline: 31px;
}
#messages_area .comment_form button.disabled {
  opacity: .5;
}
#messages_area .comment_block {
  margin-top: 18px;
  padding: 22px 28px;
}
#messages_area .display_body.hide {
  display: none;
}
#messages_area .display_body .actions {
  align-items: center;
  color: #707070;
  display: flex;
  margin-top: 18px;
}
#messages_area .display_body .actions .buttons {
  display: flex;
}
#messages_area .display_body .actions button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  margin-right: 27px;
  display: flex;
  align-items: center;
}
#messages_area .display_body .actions button span {
  display: inline-block;
  margin: 0 8px 2px 0;
  pointer-events: none;
}
#messages_area .display_body .actions button.comment_button.has_comment {
  color: #2c6bff;
}
#messages_area .display_body .actions button.comment_button.has_comment span {
  background: url("../images/icons.png") -3px -36px;
}
#messages_area .display_body .actions button.comment_button strong {
  font-size: 16px;
  font-weight: 400;
  margin-right: 4px;
}
#messages_area .display_body .actions button.comment_button span {
  background: url("../images/icons.png") no-repeat -3px -6px;
  height: 18px;
  width: 18px;
}
#messages_area .display_body .actions button.toggle_edit_button {
  color: #2c6bff;
}
#messages_area .display_body .actions button.toggle_edit_button span {
  background: url("../images/icons.png") no-repeat -31px -4px;
  height: 22px;
  margin-bottom: 3px;
  width: 22px;
}
#messages_area .display_body .actions button.delete_button span {
  background: url("../images/icons.png") no-repeat -64px -5px;
  height: 19px;
  width: 16px;
}
#messages_area .display_body .actions .post_info {
  align-items: center;
  display: flex;
}
#messages_area .display_body .actions .post_info img {
  margin-bottom: 2px;
  margin-right: 7px;
}
#messages_area .display_body .actions .post_info .posted_by {
  display: inline-block;
  font-weight: 600;
  margin-right: 4px;
}
#messages_area .display_body .actions .post_info .post_time {
  display: inline-block;
  margin-left: 4px;
}
.modal_backdrop {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  padding-inline: 1.5em;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}
.modal_backdrop.show {
  display: flex;
}
#create_message_modal {
  background-color: white;
  border-radius: 6px;
  position: relative;
  padding: 43px 53px;
  text-align: end;
  width: 937px;
}
#create_message_modal h2 {
  color: #152c61;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 44px;
  text-align: center;
}
#create_message_modal textarea {
  height: 194px;
  margin-bottom: 23px;
  width: 100%;
}
#create_message_modal #post_message_button {
  background-color: #2c6bff;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6.5px 66px;
  border-radius: 6px;
  margin-left: 20px;
  padding: 7px 40px;
}
#create_message_modal #post_message_button.disabled {
  opacity: .5;
}
#delete_message_modal,
#delete_comment_modal {
  background-color: white;
  border-radius: 6px;
  position: relative;
  padding: 46px 74px 60px;
  width: 540px;
}
#delete_message_modal h2,
#delete_comment_modal h2 {
  color: #152c61;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 33px;
  text-align: center;
}
#delete_message_modal p,
#delete_comment_modal p {
  color: #152c61;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 33px;
  text-align: center;
}
#delete_message_modal footer,
#delete_comment_modal footer {
  align-items: center;
  display: flex;
}
#delete_message_modal footer button,
#delete_comment_modal footer button {
  width: 100%;
}
#delete_message_modal footer .cancel_button,
#delete_comment_modal footer .cancel_button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  padding-right: 21px;
}
#delete_message_modal footer .remove_button,
#delete_comment_modal footer .remove_button {
  background-color: #2c6bff;
  border: none;
  color: white;
  font-size: 16px;
  padding: 6.5px 66px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 31px;
}
@media screen and (max-width: 986px) {
  nav {
    padding: 1.2em 1.5em;
  }
  nav .custom_wrapper {
    padding: 0;
  }
  nav p#user {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  #messages_area .custom_wrapper {
    padding: 1.5em 1.8em;
  }
  #messages_area header #create_message_button {
    padding-inline: 13px;
  }
  #messages_area .message_block,
  #messages_area .comment_block {
    padding: 1em 1.2em;
  }
  #messages_area .message_block .actions,
  #messages_area .comment_block .actions {
    display: grid;
    grid-template-areas: "post_info" "buttons";
    margin-top: .7em;
  }
  #messages_area .message_block .actions .buttons,
  #messages_area .comment_block .actions .buttons {
    grid-area: buttons;
  }
  #messages_area .message_block .actions .post_info,
  #messages_area .comment_block .actions .post_info {
    grid-area: post_info;
    margin-left: -0.3em;
    margin-bottom: .3em;
  }
  #messages_area .message_block .edit_message_form .toggle_edit_button,
  #messages_area .comment_block .edit_message_form .toggle_edit_button,
  #messages_area .message_block .edit_comment_form .toggle_edit_button,
  #messages_area .comment_block .edit_comment_form .toggle_edit_button {
    padding: 8px 13px;
  }
  #messages_area .comment_form {
    padding: 1em 1.2em;
  }
  #messages_area .comment_form button {
    padding-inline: 13px;
  }
  #messages_area .comment_block {
    padding: 1em;
  }
  #create_message_modal {
    padding: 1.7em;
    width: 100%;
  }
  #create_message_modal h2 {
    margin-bottom: 1em;
  }
  #create_message_modal #post_message_button {
    padding-inline: 13px;
  }
  #delete_message_modal,
  #delete_comment_modal {
    padding: 1.7em;
  }
  #delete_message_modal h2,
  #delete_comment_modal h2 {
    margin-bottom: .5em;
  }
  #delete_message_modal footer,
  #delete_comment_modal footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
  #delete_message_modal footer button,
  #delete_comment_modal footer button {
    padding: 8px 13px;
    width: fit-content;
  }
}
@media screen and (max-width: 677px) {
  nav {
    padding: 1.2em 1.5em;
  }
  nav .custom_wrapper {
    align-items: start;
    flex-direction: column;
  }
  nav p#user {
    align-items: end;
    display: flex;
    flex-direction: column;
  }
  nav p#user a {
    position: absolute;
    right: 24px;
    top: 25px;
  }
  #messages_area header {
    align-items: start;
    flex-direction: column;
    gap: 1em;
  }
  #delete_message_modal footer,
  #delete_comment_modal footer {
    display: grid;
    grid-template-columns: unset;
    grid-template-areas: "remove_btn" "cancel_button";
    place-items: center;
  }
  #delete_message_modal footer button,
  #delete_comment_modal footer button {
    padding: 8px 13px;
    width: fit-content;
  }
  #delete_message_modal footer button.cancel_button,
  #delete_comment_modal footer button.cancel_button {
    grid-area: cancel_button;
  }
  #delete_message_modal footer button.remove_button,
  #delete_comment_modal footer button.remove_button {
    grid-area: remove_btn;
  }
}
